@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');


body {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Pangolin, sans-serif;
    height: 99vh;
}

#gameBoardDiv {
    border: 2px solid black;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-family: Pangolin, sans-serif;
}

.cell {
    border: 2px solid green;
    font-size: 2.8rem;
}

button:disabled {
    color: black;
    background-color: ghostwihte;
}

button:hover {
    background-color: ghostwhite;
}